.product-image{
  max-width: 200px;
  max-height: 200px;
}

.progress-bar{
  background-color: green;
  /* height: 20px; */
  width: calc(60vw / 5);
}

.progress-bar-container{
  background-color: grey;
  width: 60vw ;
  /* padding: 0.4rem; */
  margin: 0.4rem;
  /* height: 20px; */
}